<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Amnil</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Plugin/lobibox/dist/css/lobibox.min.css" rel="stylesheet" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Contestant System", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">

                    <li>@Html.ActionLink("Contestant", "Index", "Contestant")</li>
                    <li>@Html.ActionLink("Contestant Rating", "Index", "ContestantRating")</li>
                    <li>@Html.ActionLink("Photo Gallery", "Index", "Gallery")</li>
                    <li>@Html.ActionLink("Map", "Index", "Map")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        <br />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Amnil Technologies</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Plugin/lobibox/dist/js/lobibox.min.js"></script>

    <script type="text/javascript">

        var ShowError = function (type,title,message) {

            Lobibox.notify(type.toLowerCase() || 'error', {
                title: title ||'No title',
                size: 'mini',
                rounded: false,
                delayIndicator: true,
                msg: message ||'No Content provided'
            });
        }


        var stringArray = @Html.Raw(Json.Encode(TempData["Message"]));
        if (stringArray != null) {
            ShowError(stringArray[0], stringArray[1], stringArray[2]);
        }
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
